.Rproj.user
.Rhistory
.RData
.Ruserdata
bg_data
.DS_Store
.DS_Store
code/ballgown_diff-isoform-expression/data/S12M/e_data.ctab
code/ballgown_diff-isoform-expression/data/S12M/e2t.ctab
code/ballgown_diff-isoform-expression/data/S12M/i_data.ctab
code/ballgown_diff-isoform-expression/data/S12M/i2t.ctab
code/ballgown_diff-isoform-expression/data/S12M/S12M_checksums.md5
code/ballgown_diff-isoform-expression/data/S12M/t_data.ctab
code/ballgown_diff-isoform-expression/data/S13M/e_data.ctab
code/ballgown_diff-isoform-expression/data/S13M/e2t.ctab
code/ballgown_diff-isoform-expression/data/S13M/i_data.ctab
code/ballgown_diff-isoform-expression/data/S13M/i2t.ctab
code/ballgown_diff-isoform-expression/data/S13M/S13M_checksums.md5
code/ballgown_diff-isoform-expression/data/S13M/t_data.ctab
code/ballgown_diff-isoform-expression/data/S16F/e_data.ctab
code/ballgown_diff-isoform-expression/data/S16F/e2t.ctab
code/ballgown_diff-isoform-expression/data/S16F/i_data.ctab
code/ballgown_diff-isoform-expression/data/S16F/i2t.ctab
code/ballgown_diff-isoform-expression/data/S16F/S16F_checksums.md5
code/ballgown_diff-isoform-expression/data/S16F/t_data.ctab
code/ballgown_diff-isoform-expression/data/S19F/e_data.ctab
code/ballgown_diff-isoform-expression/data/S19F/e2t.ctab
code/ballgown_diff-isoform-expression/data/S19F/i_data.ctab
code/ballgown_diff-isoform-expression/data/S19F/i2t.ctab
code/ballgown_diff-isoform-expression/data/S19F/S19F_checksums.md5
code/ballgown_diff-isoform-expression/data/S19F/t_data.ctab
code/ballgown_diff-isoform-expression/data/S22F/e_data.ctab
code/ballgown_diff-isoform-expression/data/S22F/e2t.ctab
code/ballgown_diff-isoform-expression/data/S22F/i_data.ctab
code/ballgown_diff-isoform-expression/data/S22F/i2t.ctab
code/ballgown_diff-isoform-expression/data/S22F/S22F_checksums.md5
code/ballgown_diff-isoform-expression/data/S22F/t_data.ctab
code/ballgown_diff-isoform-expression/data/S23M/e_data.ctab
code/ballgown_diff-isoform-expression/data/S23M/e2t.ctab
code/ballgown_diff-isoform-expression/data/S23M/i_data.ctab
code/ballgown_diff-isoform-expression/data/S23M/i2t.ctab
code/ballgown_diff-isoform-expression/data/S23M/S23M_checksums.md5
code/ballgown_diff-isoform-expression/data/S23M/t_data.ctab
code/ballgown_diff-isoform-expression/data/S29F/e_data.ctab
code/ballgown_diff-isoform-expression/data/S29F/e2t.ctab
code/ballgown_diff-isoform-expression/data/S29F/i_data.ctab
code/ballgown_diff-isoform-expression/data/S29F/i2t.ctab
code/ballgown_diff-isoform-expression/data/S29F/S29F_checksums.md5
code/ballgown_diff-isoform-expression/data/S29F/t_data.ctab
code/ballgown_diff-isoform-expression/data/S31M/e_data.ctab
code/ballgown_diff-isoform-expression/data/S31M/e2t.ctab
code/ballgown_diff-isoform-expression/data/S31M/i_data.ctab
code/ballgown_diff-isoform-expression/data/S31M/i2t.ctab
code/ballgown_diff-isoform-expression/data/S31M/S31M_checksums.md5
code/ballgown_diff-isoform-expression/data/S31M/t_data.ctab
code/ballgown_diff-isoform-expression/data/S35F/e_data.ctab
code/ballgown_diff-isoform-expression/data/S35F/e2t.ctab
code/ballgown_diff-isoform-expression/data/S35F/i_data.ctab
code/ballgown_diff-isoform-expression/data/S35F/i2t.ctab
code/ballgown_diff-isoform-expression/data/S35F/S35F_checksums.md5
code/ballgown_diff-isoform-expression/data/S35F/t_data.ctab
code/ballgown_diff-isoform-expression/data/S36F/e_data.ctab
code/ballgown_diff-isoform-expression/data/S36F/e2t.ctab
code/ballgown_diff-isoform-expression/data/S36F/i_data.ctab
code/ballgown_diff-isoform-expression/data/S36F/i2t.ctab
code/ballgown_diff-isoform-expression/data/S36F/S36F_checksums.md5
code/ballgown_diff-isoform-expression/data/S36F/t_data.ctab
code/ballgown_diff-isoform-expression/data/S39F/e_data.ctab
code/ballgown_diff-isoform-expression/data/S39F/e2t.ctab
code/ballgown_diff-isoform-expression/data/S39F/i_data.ctab
code/ballgown_diff-isoform-expression/data/S39F/i2t.ctab
code/ballgown_diff-isoform-expression/data/S39F/S39F_checksums.md5
code/ballgown_diff-isoform-expression/data/S39F/t_data.ctab
code/ballgown_diff-isoform-expression/data/S3F/e_data.ctab
code/ballgown_diff-isoform-expression/data/S3F/e2t.ctab
code/ballgown_diff-isoform-expression/data/S3F/i_data.ctab
code/ballgown_diff-isoform-expression/data/S3F/i2t.ctab
code/ballgown_diff-isoform-expression/data/S3F/S3F_checksums.md5
code/ballgown_diff-isoform-expression/data/S3F/t_data.ctab
code/ballgown_diff-isoform-expression/data/S41F/e_data.ctab
code/ballgown_diff-isoform-expression/data/S41F/e2t.ctab
code/ballgown_diff-isoform-expression/data/S41F/i_data.ctab
code/ballgown_diff-isoform-expression/data/S41F/i2t.ctab
code/ballgown_diff-isoform-expression/data/S41F/S41F_checksums.md5
code/ballgown_diff-isoform-expression/data/S41F/t_data.ctab
code/ballgown_diff-isoform-expression/data/S44F/e_data.ctab
code/ballgown_diff-isoform-expression/data/S44F/e2t.ctab
code/ballgown_diff-isoform-expression/data/S44F/i_data.ctab
code/ballgown_diff-isoform-expression/data/S44F/i2t.ctab
code/ballgown_diff-isoform-expression/data/S44F/S44F_checksums.md5
code/ballgown_diff-isoform-expression/data/S44F/t_data.ctab
code/ballgown_diff-isoform-expression/data/S48M/e_data.ctab
code/ballgown_diff-isoform-expression/data/S48M/e2t.ctab
code/ballgown_diff-isoform-expression/data/S48M/i_data.ctab
code/ballgown_diff-isoform-expression/data/S48M/i2t.ctab
code/ballgown_diff-isoform-expression/data/S48M/S48M_checksums.md5
code/ballgown_diff-isoform-expression/data/S48M/t_data.ctab
code/ballgown_diff-isoform-expression/data/S50F/e_data.ctab
code/ballgown_diff-isoform-expression/data/S50F/e2t.ctab
code/ballgown_diff-isoform-expression/data/S50F/i_data.ctab
code/ballgown_diff-isoform-expression/data/S50F/i2t.ctab
code/ballgown_diff-isoform-expression/data/S50F/S50F_checksums.md5
code/ballgown_diff-isoform-expression/data/S50F/t_data.ctab
code/ballgown_diff-isoform-expression/data/S52F/e_data.ctab
code/ballgown_diff-isoform-expression/data/S52F/e2t.ctab
code/ballgown_diff-isoform-expression/data/S52F/i_data.ctab
code/ballgown_diff-isoform-expression/data/S52F/i2t.ctab
code/ballgown_diff-isoform-expression/data/S52F/S52F_checksums.md5
code/ballgown_diff-isoform-expression/data/S52F/t_data.ctab
code/ballgown_diff-isoform-expression/data/S53F/e_data.ctab
code/ballgown_diff-isoform-expression/data/S53F/e2t.ctab
code/ballgown_diff-isoform-expression/data/S53F/i_data.ctab
code/ballgown_diff-isoform-expression/data/S53F/i2t.ctab
code/ballgown_diff-isoform-expression/data/S53F/S53F_checksums.md5
code/ballgown_diff-isoform-expression/data/S53F/t_data.ctab
code/ballgown_diff-isoform-expression/data/S54F/e_data.ctab
code/ballgown_diff-isoform-expression/data/S54F/e2t.ctab
code/ballgown_diff-isoform-expression/data/S54F/i_data.ctab
code/ballgown_diff-isoform-expression/data/S54F/i2t.ctab
code/ballgown_diff-isoform-expression/data/S54F/S54F_checksums.md5
code/ballgown_diff-isoform-expression/data/S54F/t_data.ctab
code/ballgown_diff-isoform-expression/data/S59M/e_data.ctab
code/ballgown_diff-isoform-expression/data/S59M/e2t.ctab
code/ballgown_diff-isoform-expression/data/S59M/i_data.ctab
code/ballgown_diff-isoform-expression/data/S59M/i2t.ctab
code/ballgown_diff-isoform-expression/data/S59M/S59M_checksums.md5
code/ballgown_diff-isoform-expression/data/S59M/t_data.ctab
code/ballgown_diff-isoform-expression/data/S64M/e_data.ctab
code/ballgown_diff-isoform-expression/data/S64M/e2t.ctab
code/ballgown_diff-isoform-expression/data/S64M/i_data.ctab
code/ballgown_diff-isoform-expression/data/S64M/i2t.ctab
code/ballgown_diff-isoform-expression/data/S64M/S64M_checksums.md5
code/ballgown_diff-isoform-expression/data/S64M/t_data.ctab
code/ballgown_diff-isoform-expression/data/S6M/e_data.ctab
code/ballgown_diff-isoform-expression/data/S6M/e2t.ctab
code/ballgown_diff-isoform-expression/data/S6M/i_data.ctab
code/ballgown_diff-isoform-expression/data/S6M/i2t.ctab
code/ballgown_diff-isoform-expression/data/S6M/S6M_checksums.md5
code/ballgown_diff-isoform-expression/data/S6M/t_data.ctab
code/ballgown_diff-isoform-expression/data/S76F/e_data.ctab
code/ballgown_diff-isoform-expression/data/S76F/e2t.ctab
code/ballgown_diff-isoform-expression/data/S76F/i_data.ctab
code/ballgown_diff-isoform-expression/data/S76F/i2t.ctab
code/ballgown_diff-isoform-expression/data/S76F/S76F_checksums.md5
code/ballgown_diff-isoform-expression/data/S76F/t_data.ctab
code/ballgown_diff-isoform-expression/data/S77F/e_data.ctab
code/ballgown_diff-isoform-expression/data/S77F/e2t.ctab
code/ballgown_diff-isoform-expression/data/S77F/i_data.ctab
code/ballgown_diff-isoform-expression/data/S77F/i2t.ctab
code/ballgown_diff-isoform-expression/data/S77F/S77F_checksums.md5
code/ballgown_diff-isoform-expression/data/S77F/t_data.ctab
code/ballgown_diff-isoform-expression/data/S7M/e_data.ctab
code/ballgown_diff-isoform-expression/data/S7M/e2t.ctab
code/ballgown_diff-isoform-expression/data/S7M/i_data.ctab
code/ballgown_diff-isoform-expression/data/S7M/i2t.ctab
code/ballgown_diff-isoform-expression/data/S7M/S7M_checksums.md5
code/ballgown_diff-isoform-expression/data/S7M/t_data.ctab
code/ballgown_diff-isoform-expression/data/S9M/e_data.ctab
code/ballgown_diff-isoform-expression/data/S9M/e2t.ctab
code/ballgown_diff-isoform-expression/data/S9M/i_data.ctab
code/ballgown_diff-isoform-expression/data/S9M/i2t.ctab
code/ballgown_diff-isoform-expression/data/S9M/S9M_checksums.md5
code/ballgown_diff-isoform-expression/data/S9M/t_data.ctab
data/ballgown/S12M/e_data.ctab
data/ballgown/S12M/e2t.ctab
data/ballgown/S12M/i_data.ctab
data/ballgown/S12M/i2t.ctab
data/ballgown/S12M/S12M_checksums.md5
data/ballgown/S12M/t_data.ctab
data/ballgown/S13M/e_data.ctab
data/ballgown/S13M/e2t.ctab
data/ballgown/S13M/i_data.ctab
data/ballgown/S13M/i2t.ctab
data/ballgown/S13M/S13M_checksums.md5
data/ballgown/S13M/t_data.ctab
data/ballgown/S16F/e_data.ctab
data/ballgown/S16F/e2t.ctab
data/ballgown/S16F/i_data.ctab
data/ballgown/S16F/i2t.ctab
data/ballgown/S16F/S16F_checksums.md5
data/ballgown/S16F/t_data.ctab
data/ballgown/S19F/e_data.ctab
data/ballgown/S19F/e2t.ctab
data/ballgown/S19F/i_data.ctab
data/ballgown/S19F/i2t.ctab
data/ballgown/S19F/S19F_checksums.md5
data/ballgown/S19F/t_data.ctab
data/ballgown/S22F/e_data.ctab
data/ballgown/S22F/e2t.ctab
data/ballgown/S22F/i_data.ctab
data/ballgown/S22F/i2t.ctab
data/ballgown/S22F/S22F_checksums.md5
data/ballgown/S22F/t_data.ctab
data/ballgown/S23M/e_data.ctab
data/ballgown/S23M/e2t.ctab
data/ballgown/S23M/i_data.ctab
data/ballgown/S23M/i2t.ctab
data/ballgown/S23M/S23M_checksums.md5
data/ballgown/S23M/t_data.ctab
data/ballgown/S29F/e_data.ctab
data/ballgown/S29F/e2t.ctab
data/ballgown/S29F/i_data.ctab
data/ballgown/S29F/i2t.ctab
data/ballgown/S29F/S29F_checksums.md5
data/ballgown/S29F/t_data.ctab
data/ballgown/S31M/e_data.ctab
data/ballgown/S31M/e2t.ctab
data/ballgown/S31M/i_data.ctab
data/ballgown/S31M/i2t.ctab
data/ballgown/S31M/S31M_checksums.md5
data/ballgown/S31M/t_data.ctab
data/ballgown/S35F/e_data.ctab
data/ballgown/S35F/e2t.ctab
data/ballgown/S35F/i_data.ctab
data/ballgown/S35F/i2t.ctab
data/ballgown/S35F/S35F_checksums.md5
data/ballgown/S35F/t_data.ctab
data/ballgown/S36F/e_data.ctab
data/ballgown/S36F/e2t.ctab
data/ballgown/S36F/i_data.ctab
data/ballgown/S36F/i2t.ctab
data/ballgown/S36F/S36F_checksums.md5
data/ballgown/S36F/t_data.ctab
data/ballgown/S39F/e_data.ctab
data/ballgown/S39F/e2t.ctab
data/ballgown/S39F/i_data.ctab
data/ballgown/S39F/i2t.ctab
data/ballgown/S39F/S39F_checksums.md5
data/ballgown/S39F/t_data.ctab
data/ballgown/S3F/e_data.ctab
data/ballgown/S3F/e2t.ctab
data/ballgown/S3F/i_data.ctab
data/ballgown/S3F/i2t.ctab
data/ballgown/S3F/S3F_checksums.md5
data/ballgown/S3F/t_data.ctab
data/ballgown/S41F/e_data.ctab
data/ballgown/S41F/e2t.ctab
data/ballgown/S41F/i_data.ctab
data/ballgown/S41F/i2t.ctab
data/ballgown/S41F/S41F_checksums.md5
data/ballgown/S41F/t_data.ctab
data/ballgown/S44F/e_data.ctab
data/ballgown/S44F/e2t.ctab
data/ballgown/S44F/i_data.ctab
data/ballgown/S44F/i2t.ctab
data/ballgown/S44F/S44F_checksums.md5
data/ballgown/S44F/t_data.ctab
data/ballgown/S48M/e_data.ctab
data/ballgown/S48M/e2t.ctab
data/ballgown/S48M/i_data.ctab
data/ballgown/S48M/i2t.ctab
data/ballgown/S48M/S48M_checksums.md5
data/ballgown/S48M/t_data.ctab
data/ballgown/S50F/e_data.ctab
data/ballgown/S50F/e2t.ctab
data/ballgown/S50F/i_data.ctab
data/ballgown/S50F/i2t.ctab
data/ballgown/S50F/S50F_checksums.md5
data/ballgown/S50F/t_data.ctab
data/ballgown/S52F/e_data.ctab
data/ballgown/S52F/e2t.ctab
data/ballgown/S52F/i_data.ctab
data/ballgown/S52F/i2t.ctab
data/ballgown/S52F/S52F_checksums.md5
data/ballgown/S52F/t_data.ctab
data/ballgown/S53F/e_data.ctab
data/ballgown/S53F/e2t.ctab
data/ballgown/S53F/i_data.ctab
data/ballgown/S53F/i2t.ctab
data/ballgown/S53F/S53F_checksums.md5
data/ballgown/S53F/t_data.ctab
data/ballgown/S54F/e_data.ctab
data/ballgown/S54F/e2t.ctab
data/ballgown/S54F/i_data.ctab
data/ballgown/S54F/i2t.ctab
data/ballgown/S54F/S54F_checksums.md5
data/ballgown/S54F/t_data.ctab
data/ballgown/S59M/e_data.ctab
data/ballgown/S59M/e2t.ctab
data/ballgown/S59M/i_data.ctab
data/ballgown/S59M/i2t.ctab
data/ballgown/S59M/S59M_checksums.md5
data/ballgown/S59M/t_data.ctab
data/ballgown/S64M/e_data.ctab
data/ballgown/S64M/e2t.ctab
data/ballgown/S64M/i_data.ctab
data/ballgown/S64M/i2t.ctab
data/ballgown/S64M/S64M_checksums.md5
data/ballgown/S64M/t_data.ctab
data/ballgown/S6M/e_data.ctab
data/ballgown/S6M/e2t.ctab
data/ballgown/S6M/i_data.ctab
data/ballgown/S6M/i2t.ctab
data/ballgown/S6M/S6M_checksums.md5
data/ballgown/S6M/t_data.ctab
data/ballgown/S76F/e_data.ctab
data/ballgown/S76F/e2t.ctab
data/ballgown/S76F/i_data.ctab
data/ballgown/S76F/i2t.ctab
data/ballgown/S76F/S76F_checksums.md5
data/ballgown/S76F/t_data.ctab
data/ballgown/S77F/e_data.ctab
data/ballgown/S77F/e2t.ctab
data/ballgown/S77F/i_data.ctab
data/ballgown/S77F/i2t.ctab
data/ballgown/S77F/S77F_checksums.md5
data/ballgown/S77F/t_data.ctab
data/ballgown/S7M/e_data.ctab
data/ballgown/S7M/e2t.ctab
data/ballgown/S7M/i_data.ctab
data/ballgown/S7M/i2t.ctab
data/ballgown/S7M/S7M_checksums.md5
data/ballgown/S7M/t_data.ctab
data/ballgown/S9M/e_data.ctab
data/ballgown/S9M/e2t.ctab
data/ballgown/S9M/i_data.ctab
data/ballgown/S9M/i2t.ctab
data/ballgown/S9M/S9M_checksums.md5
data/ballgown/S9M/t_data.ctab
